<div class="container">

<h4>記事一覧</h4>

<% @blogs.each do |blog| %>
<br />
<i class="material-icons">child_care</i>
<h8>投稿者</h8>
<span><%= blog.user.nickname %></span>
<br />
<h7>&emsp;&emsp;タイトル</h7>
<div class="waves-effect waves-light btn pink lighten-5">
<%= link_to blog.title,"/blogs/#{blog.id}" %>
</div>
<br />
<div class="card-panel">
    <span class="blue-text text-darken-2"><%= blog.text %></span>
  </div>

<% end %>

</div>
