

<div class="container">
    <div class="card-panel blue lighten-5">
      <p class="flow-text">
<blockquote>
<p>タイトル</p>
<p><%= @blog.title %></p>
<p>記事</p>
<p><%= @blog.text %></p>

<% if user_signed_in? && current_user.id == @blog.user_id %>
<li><%= link_to '編集', "/blogs/#{@blog.id}/edit", method: :get %></li>

<li><%= link_to '削除', "/blogs/#{@blog.id}", method: :delete %></li>
<% end %>
</blockquote>
</p>
</div>
</div>
